;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [
  [reagent "0.10.0"]
  [metosin/reitit "0.7.0-alpha7"]
  [metosin/reitit-spec "0.7.0-alpha7"]
  [metosin/reitit-frontend "0.7.0-alpha7"]
 ]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn gooey.app/init}}
   }}}
